# Allowlist: ignore everything, then re-include tracked configs
/*
!.gitignore
!README.md

!/hypr/
!/quickshell/
!/kitty/
!/fish/
!/btop/
!/cava/
!/matugen/
!/micro/
!/mpv/
!/gtk-3.0/
!/gtk-4.0/
!/qt6ct/
!/nwg-look/
!/spicetify/
!/autostart/
!/systemd/
!/kdeglobals
!/mimeapps.list

__pycache__/
fish/fish_variables
micro/backups/
micro/buffers/
quickshell/sddm/*/fonts/
